<h1>Administrasjon av medlemmer</h1>

<table>
  <tr>
    <th>Navn</th>
    <th>Alder</th>
    <th>Rolle</th>
    <th>Bilde</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.age %></td>
    <td><%= member.role %></td>
    <td><%= member.pic %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
<p><%= link_to "Legg til medlem", new_member_path %></p>
