<h1>Listing members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Role</th>
    <th>Pic</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.age %></td>
    <td><%= member.role %></td>
    <td><%= member.pic %></td>
    <!--
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></td>
    -->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Administrer', admin_path %>
