<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @member.name %>
</p>

<p>
  <b>Age:</b>
  <%= @member.age %>
</p>

<p>
  <b>Role:</b>
  <%= @member.role %>
</p>

<p>
  <b>Pic:</b>
  <%= image_tag "http://#{member.pic}", :size => "100x150" %>
</p>


<%= link_to 'Rediger', edit_member_path(@member) %> |
<%= link_to 'Tilbake', members_path %>
