<!DOCTYPE html>
<html>
<head>
  <title>Prosjektside gruppe 20</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
	<div id="top">
		<div id="header">
			<h1>Gruppe 20</h1>
			<h3>Hovedprosjekt våren 2012<h3>
		</div>
		<div id="menu">
			<%= link_to 'Hjem', root_path %>
			<%= link_to 'Dokumenter', documents_path %>
		</div>
	</div>
	<div id="content">
		<%= yield %>
	</div>
	<div id="footer">
	</div>
</div>
</body>
</html>
